.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  aspect-ratio: 1/3;
  max-width: 300px;
  min-width: 200px;
  z-index: 10;
  background: black;
}
.nav-bar .nav-bar-close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  height: 38px;
  aspect-ratio: 1/1;
  right: 0;
  color: #F8FF95;
  background: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.nav-bar .nav-bar-open {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  height: 38px;
  aspect-ratio: 1/1;
  right: 0;
  color: #F8FF95;
  transform: translateX(100%);
  background: black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.nav-bar .control-icon {
  height: 70%;
  width: 70%;
  background: #F8FF95;
}
.nav-bar .nav-bar-header img {
  width: 100%;
  height: auto;
}
.nav-bar .nav-bar-body .nav-bar-list {
  border-bottom: 1px solid rgba(248, 255, 149, 0.5);
  height: calc(66.6666666667vh - 50px - 80px);
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-item {
  cursor: pointer;
  position: relative;
  font-family: "Arsenal", sans-serif;
  font-size: 25px;
  height: 34px;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: right;
  padding-right: 10px;
  transition: background 0.3s;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-item:hover {
  background: #F8FF95;
  transition: background 0.3s;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-item:hover a {
  color: black;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-item:hover .nav-bar-item-icon {
  background: #F8FF95;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-item:hover .nav-bar-item-icon .nav-bar-item-icon-mask {
  background: black;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-item a {
  color: #F8FF95;
  text-decoration: none;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-item .nav-bar-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
  background: black;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: background 0.3s;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-item .nav-bar-item-icon .nav-bar-item-icon-mask {
  height: 70%;
  width: 70%;
  background: #F8FF95;
  transition: background 0.3s;
}
.nav-bar .nav-bar-body .nav-bar-search {
  cursor: pointer;
  height: 50px;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(248, 255, 149, 0.5);
  padding: 5px;
}
.nav-bar .nav-bar-body .nav-bar-search #sham-input {
  height: 35px;
  background: rgba(128, 128, 128, 0.5);
  border: 2px solid rgba(248, 255, 149, 0.5);
  width: calc(100% - 40px);
  font-size: 25px;
  line-height: 30px;
  padding-left: 5px;
  color: rgba(248, 255, 149, 0.5);
  cursor: pointer;
  font-family: "Arsenal", sans-serif;
  transition: box-shadow 0.1s;
}
.nav-bar .nav-bar-body .nav-bar-search #sham-input:hover {
  color: #F8FF95;
}
.nav-bar .nav-bar-body .nav-bar-search .search-icon {
  height: 31.5px;
  aspect-ratio: 1/1;
  background: #F8FF95;
  margin-left: 10px;
}
.nav-bar .nav-bar-body .nav-bar-extras {
  height: 80px;
  overflow: auto;
  display: flex;
}
.nav-bar .nav-bar-body .nav-bar-extras .extras-text {
  border-right: 1px solid rgba(248, 255, 149, 0.5);
  height: 100%;
  width: 70%;
  padding-top: 5px;
  padding-left: 5px;
}
.nav-bar .nav-bar-body .nav-bar-extras .extras-text p, .nav-bar .nav-bar-body .nav-bar-extras .extras-text a {
  display: block;
  color: white;
  font-size: 15px;
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
}
.nav-bar .nav-bar-body .nav-bar-extras .extras-map {
  width: 30%;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nav-bar .nav-bar-body .nav-bar-extras .extras-map a img {
  height: 72px;
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}

.footer-icons {
  background: yellow;
}
.footer-icons .footer-icons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background: black;
}

.footer-copyright p {
  color: green;
}/*# sourceMappingURL=components.css.map */