.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 17vw;
  max-width: 300px;
  min-width: 200px;
  z-index: 10;
  background: black;
  transition: 0.5s;
  transition-timing-function: ease-out;
  padding: 0 !important;
  margin: 0 !important;
}
.nav-bar .nav-bar-close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  height: 50px;
  aspect-ratio: 1/1;
  right: 0;
  color: #f8ff95;
  background: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 0.3s;
}
.nav-bar .nav-bar-close:hover {
  background: rgba(0, 0, 0, 0.8);
}
.nav-bar .nav-bar-open {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  height: 50px;
  aspect-ratio: 1/1;
  right: 0;
  color: #f8ff95;
  transform: translateX(100%);
  background: black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 2px rgba(248, 255, 149, 0.5);
}
.nav-bar .control-icon {
  height: 50%;
  width: 50%;
  background: #f8ff95;
}
.nav-bar .nav-bar-header img {
  width: 100%;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.nav-bar .nav-bar-body .nav-bar-list {
  border-bottom: 1px solid rgba(248, 255, 149, 0.5);
  height: calc(100vh - max(200px, min(17vw, 300px)) - 50px - 80px);
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-item {
  cursor: pointer;
  position: relative;
  font-family: "Arsenal", sans-serif;
  font-size: 25px;
  height: 34px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: right;
  padding-right: 10px;
  transition: background 0.3s;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-item:hover {
  background: #f8ff95;
  transition: background 0.3s;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-item:hover a {
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-item:hover .nav-bar-item-icon {
  background: #f8ff95;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-item:hover .nav-bar-item-icon .nav-bar-item-icon-mask {
  background: black;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-item a {
  display: flex;
  justify-content: end;
  align-items: center;
  color: #f8ff95;
  text-decoration: none;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-item .nav-bar-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
  background: black;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: background 0.3s;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-item .nav-bar-item-icon .nav-bar-item-icon-mask {
  height: 70%;
  width: 70%;
  background: #f8ff95;
  transition: background 0.3s;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-dropdown {
  position: relative;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-dropdown a {
  font-size: 20px;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-dropdown .dropdown-body {
  display: none;
  background: black;
  border-top: 1px solid #f8ff95;
  position: absolute;
  bottom: 0;
  left: 100%;
  padding: 0 !important;
  min-width: 140px;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-dropdown .dropdown-body .nav-dropdown-item a {
  display: flex;
  align-items: center;
  padding: 0px 5px;
  margin: 0 !important;
  height: 34px;
  font-size: 25px;
  color: #f8ff95;
  transition: 0.3s;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-dropdown .dropdown-body .nav-dropdown-item a:hover {
  background: #f8ff95;
  color: black !important;
}
.nav-bar .nav-bar-body .nav-bar-list .nav-bar-dropdown:hover .dropdown-body {
  display: block;
}
.nav-bar .nav-bar-body .nav-bar-search {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-bottom: 1px solid rgba(248, 255, 149, 0.5);
  padding: 5px;
}
.nav-bar .nav-bar-body .nav-bar-search #sham-input {
  height: 35px;
  background: rgba(128, 128, 128, 0.5);
  border: 2px solid rgba(248, 255, 149, 0.5);
  width: calc(100% - 40px);
  font-size: 25px;
  line-height: 30px;
  padding-left: 5px;
  color: rgba(248, 255, 149, 0.5);
  font-family: "Arsenal", sans-serif;
  transition: box-shadow 0.1s;
}
.nav-bar .nav-bar-body .nav-bar-search #sham-input:hover {
  color: #f8ff95;
}
.nav-bar .nav-bar-body .nav-bar-search .search-icon {
  height: 31.5px;
  aspect-ratio: 1/1;
  background: #f8ff95;
  margin-left: 10px;
}
.nav-bar .nav-bar-body .nav-bar-extras {
  height: 80px;
  overflow: auto;
  display: flex;
}
.nav-bar .nav-bar-body .nav-bar-extras .extras-text {
  border-right: 1px solid rgba(248, 255, 149, 0.5);
  height: 100%;
  width: 70%;
  padding-top: 5px;
  padding-left: 5px;
}
.nav-bar .nav-bar-body .nav-bar-extras .extras-text p,
.nav-bar .nav-bar-body .nav-bar-extras .extras-text a {
  display: block;
  color: white;
  font-size: 15px;
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
}
.nav-bar .nav-bar-body .nav-bar-extras .extras-map {
  width: 30%;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nav-bar .nav-bar-body .nav-bar-extras .extras-map a img {
  height: 72px;
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.nav-bar-show .nav-bar-close {
  display: flex !important;
}
.nav-bar-show .nav-bar-open {
  display: none !important;
}

.nav-bar-away {
  transform: translateX(-100%);
}
.nav-bar-away .nav-bar-close {
  display: none !important;
}
.nav-bar-away .nav-bar-open {
  display: flex !important;
}

.search-modal {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
}
.search-modal .modal-content {
  background: black !important;
  border: 1px solid rgba(248, 255, 149, 0.5);
  border-radius: 0;
}
.search-modal .modal-content .modal-body {
  position: relative;
}
.search-modal .modal-content .modal-body form {
  display: flex;
  align-items: center;
}
.search-modal .modal-content .modal-body form input {
  width: calc(100% - 40px);
  height: 35px;
  background: transparent;
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 5px solid rgba(248, 255, 149, 0.5);
  transition: 0.3s;
  color: white;
  font-size: 22px;
  font-family: "Arsenal", sans-serif;
  padding: 0 !important;
}
.search-modal .modal-content .modal-body form input:focus {
  outline: none;
  border-bottom: 5px solid #f8ff95;
}
.search-modal .modal-content .modal-body form input::-moz-placeholder {
  color: rgb(158, 158, 158);
}
.search-modal .modal-content .modal-body form input::placeholder {
  color: rgb(158, 158, 158);
}
.search-modal .modal-content .modal-body form label {
  margin-left: 10px;
  background: #f8ff95;
  height: 30px;
  aspect-ratio: 1/1;
}
.search-modal .modal-content .modal-body .search-results {
  margin-top: 10px;
  max-height: 300px;
  padding-bottom: 0 !important;
  padding-right: 2px;
  overflow-y: auto;
}
.search-modal .modal-content .modal-body .search-results::after {
  pointer-events: none;
  opacity: 0;
}
.search-modal .modal-content .modal-body .search-results ul {
  list-style-type: none;
  padding: 0;
}
.search-modal .modal-content .modal-body .search-results ul .result {
  cursor: pointer;
  border-bottom: 1px solid rgba(248, 255, 149, 0.5);
  border-top: 1px solid rgba(248, 255, 149, 0.5);
  padding: 2px 8px;
  transition: 0.3s;
}
.search-modal .modal-content .modal-body .search-results ul .result a {
  color: #f8ff95;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-size: 22px;
  font-family: "Arsenal", sans-serif;
}
.search-modal .modal-content .modal-body .search-results ul .result a p {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}
.search-modal .modal-content .modal-body .search-results ul .result a p:first-child {
  width: 80%;
  font-weight: 700;
  -webkit-mask-image: linear-gradient(to right, black 50%, transparent 98%);
          mask-image: linear-gradient(to right, black 50%, transparent 98%);
}
.search-modal .modal-content .modal-body .search-results ul .result a p:last-child {
  width: 20%;
  font-size: 18px;
  font-style: italic;
  text-align: right;
}
.search-modal .modal-content .modal-body .search-results ul .result:hover {
  background-color: rgba(248, 255, 149, 0.5);
}
.search-modal .modal-content .modal-body .search-results ul .result:hover a {
  color: black !important;
}
.search-modal .modal-content .modal-body .search-results ul .result:first-child {
  border-top: none;
}
.search-modal .modal-content .modal-body .search-results::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}
.search-modal .modal-content .modal-body .search-results::-webkit-scrollbar-track {
  background: transparent;
}
.search-modal .modal-content .modal-body .search-results::-webkit-scrollbar-thumb {
  background: rgba(248, 255, 149, 0.8);
  border-radius: 2px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}
.search-modal .modal-content .modal-body .search-results::-webkit-scrollbar-thumb:hover {
  background: #f8ff95;
  border-radius: 2px;
}
.search-modal .modal-content .modal-body .search-results.scrollMore {
  transition: 0.3s;
}
.search-modal .modal-content .modal-body .search-results.scrollMore::after {
  content: "Scroll to see more";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
  left: 16px;
  width: calc(100% - 38px);
  height: 40px;
  opacity: 1;
  color: black;
  font-weight: 900;
  font-family: "Arsenal", sans-serif;
  font-size: 20px;
  background: linear-gradient(to bottom, transparent, rgba(248, 255, 149, 0.5), #f8ff95);
  animation-name: fadein;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 0.3s;
}

@media screen and (min-height: 800px) {
  .nav-bar-body .nav-bar-list .nav-bar-item {
    height: 40px !important;
    font-size: 30px !important;
  }
}
#vue_app {
  padding: 35px;
  transition: padding 0.5s;
  transition-timing-function: ease-out;
}

#vue_app:has(div.nav-bar-show) {
  padding-left: calc(max(200px, min(17vw, 300px)) + 35px);
  transition: padding 0.5s;
  transition-timing-function: ease-out;
}

.content-main {
  width: 100%;
}

.teachers {
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.teacher-container {
  border-left: 3px solid rgba(248, 255, 149, 0.5);
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}
.teacher-container::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background: rgba(248, 255, 149, 0.5);
  top: 50%;
  left: 0;
}
.teacher-container .teacher-card {
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  align-items: start;
  border: 3px solid rgba(248, 255, 149, 0.5);
  height: 230px;
  max-width: 1200px;
  background: linear-gradient(110deg, #682800, #090400);
  overflow: hidden;
}
.teacher-container .teacher-card .teacher-section {
  height: 100%;
}
.teacher-container .teacher-card .teacher-section.teacher-img {
  width: 30%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.teacher-container .teacher-card .teacher-section.teacher-img img {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-right: 2px solid rgba(248, 255, 149, 0.5);
}
.teacher-container .teacher-card .teacher-section.teacher-body {
  width: 70%;
}
.teacher-container .teacher-card .teacher-section.teacher-body .teacher-header {
  border-bottom: 2px solid rgba(248, 255, 149, 0.5);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f8ff95;
  height: 60px;
}
.teacher-container .teacher-card .teacher-section.teacher-body .teacher-header div:not(.teacher-chips) {
  width: 50%;
  font-size: 22px;
  font-family: "Wittgenstein", serif;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.teacher-container .teacher-card .teacher-section.teacher-body .teacher-header .teacher-chips ul {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
}
.teacher-container .teacher-card .teacher-section.teacher-body .teacher-header .teacher-chips ul li {
  font-family: "Cinzel", serif;
  border: 1px solid rgba(248, 255, 149, 0.5);
  background: #2e1000;
  padding: 3px 5px;
  border-radius: 8px;
  margin: 0 5px;
}
.teacher-container .teacher-card .teacher-section.teacher-body .teacher-main {
  height: calc(100% - 60px);
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.teacher-container .teacher-card .teacher-section.teacher-body .teacher-main .teacher-blurb {
  padding: 5px 10px;
  color: white;
  width: 60%;
  height: 100%;
  overflow-y: hidden;
  position: relative;
  text-align: justify;
  font-size: 16px;
  font-family: "Wittgenstein", serif;
  border-right: 1px solid rgba(248, 255, 149, 0.5);
}
.teacher-container .teacher-card .teacher-section.teacher-body .teacher-main .teacher-blurb .see-more {
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0;
  left: 0;
}
.teacher-container .teacher-card .teacher-section.teacher-body .teacher-main .teacher-blurb .see-more::after {
  cursor: pointer;
  content: "See More";
  text-align: center;
  font-weight: 900;
  font-family: "Arsenal", sans-serif;
  font-size: 18px;
  border-radius: 10px;
  position: absolute;
  width: 80%;
  min-width: 100px;
  max-width: 120px;
  background: #1c0a00;
  border: 2px solid rgba(248, 255, 149, 0.5);
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 5px black;
  transition: 0.3s;
}
.teacher-container .teacher-card .teacher-section.teacher-body .teacher-main .teacher-blurb .see-more::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  will-change: backdrop-filter;
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 80%);
          mask-image: linear-gradient(to bottom, transparent, black 80%);
}
.teacher-container .teacher-card .teacher-section.teacher-body .teacher-main .teacher-blurb .see-more:hover::after {
  color: #f8ff95;
  transform: translateX(-50%) scale(105%);
}
.teacher-container .teacher-card .teacher-section.teacher-body .teacher-main .teacher-actions {
  height: 100%;
  width: 40%;
  text-align: center;
  padding: 10px;
  border-left: 1px solid rgba(248, 255, 149, 0.5);
}
.teacher-container .teacher-card .teacher-section.teacher-body .teacher-main .teacher-actions .action-button {
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Wittgenstein", serif;
  font-style: italic;
  padding: 2px;
  background: #1c0a00;
  border: 1px solid rgba(248, 255, 149, 0.5);
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
.teacher-container .teacher-card .teacher-section.teacher-body .teacher-main .teacher-actions .action-button:hover {
  transform: scale(105%);
  color: #f8ff95;
}

.teacher-modal {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
}
.teacher-modal .modal-content {
  background: black !important;
  border: 1px solid rgba(248, 255, 149, 0.5);
  border-radius: 0;
}
.teacher-modal .modal-content .modal-header {
  color: #f8ff95;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.teacher-modal .modal-content .modal-header .modal-title {
  font-size: 20px;
  font-family: "Wittgenstein", serif;
  font-style: italic;
}
.teacher-modal .modal-content .modal-header .teacher-chips ul {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
}
.teacher-modal .modal-content .modal-header .teacher-chips ul li {
  font-family: "Cinzel", serif;
  border: 1px solid rgba(248, 255, 149, 0.5);
  background: #2e1000;
  padding: 3px 5px;
  border-radius: 8px;
  margin: 0 5px;
}
.teacher-modal .modal-content .modal-body {
  color: white;
  font-family: "Wittgenstein", serif;
}

@media screen and (max-width: 800px) {
  .teacher-container .teacher-card {
    display: block !important;
    height: 400px;
  }
  .teacher-container .teacher-card .teacher-img {
    width: 100% !important;
    border-right: none;
    border-bottom: 2px solid rgba(248, 255, 149, 0.5);
    height: 50% !important;
  }
  .teacher-container .teacher-card .teacher-img img {
    -o-object-position: top center !important;
       object-position: top center !important;
  }
  .teacher-container .teacher-card .teacher-body {
    width: 100% !important;
    height: 50%;
  }
  .teacher-container .teacher-card .teacher-body .teacher-header {
    width: 100% !important;
  }
}
.footer-icons {
  background: #1c0a00;
}
.footer-icons .footer-icons-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer-icons .footer-icons-container a {
  margin-left: 10px;
  margin-right: 10px;
  background: white;
}

.footer-copyright p {
  text-align: center;
  font-style: italic;
  color: white;
  padding: 4px 0px 6px 0px;
  font-family: "Times New Roman", serif;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=components.css.map */