@font-face {
  font-family: "Arsenal";
  src: url("../fonts/Arsenal-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arsenal";
  src: url("../fonts/Arsenal-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arsenal";
  src: url("../fonts/Arsenal-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arsenal";
  src: url("../fonts/Arsenal-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "ABeeZee";
  src: url("../fonts/ABeeZee-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "ABeeZee";
  src: url("../fonts/ABeeZee-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jomhuria";
  src: url("../fonts/Jomhuria-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  height: 100%;
  width: 100%;
}

body {
  background: black;
  overflow-x: hidden;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.searchResult {
  background: rgba(248, 255, 149, 0.3);
  animation-name: loadTarget;
  animation-fill-mode: forwards;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
}

@keyframes loadTarget {
  0% {
    background: rgba(248, 255, 149, 0.3);
  }
  10% {
    background: rgba(248, 255, 149, 0.8);
  }
  30% {
    background: rgba(248, 255, 149, 0.3);
  }
  100% {
    background: rgba(248, 255, 149, 0);
  }
}
#vue_app::before {
  content: "";
  background: linear-gradient(to bottom, rgb(114, 65, 42) 50%, black);
  position: fixed;
  width: 120%;
  height: 120%;
  top: 0;
  left: 50%;
  -webkit-mask-size: 750px;
          mask-size: 750px;
  filter: drop-shadow(0px 0px 1px #f8ff95);
  z-index: -2;
  -webkit-mask-image: url(../imgs/bg/page1.png);
          mask-image: url(../imgs/bg/page1.png);
  opacity: 0.5;
  transform: translateX(-50%) rotate(-10deg);
}
#vue_app::after {
  content: "";
  background: linear-gradient(to bottom, rgb(114, 65, 42) 50%, black);
  position: fixed;
  width: 120%;
  height: 120%;
  top: 0;
  left: 50%;
  -webkit-mask-size: 750px;
          mask-size: 750px;
  filter: drop-shadow(0px 0px 1px #f8ff95);
  z-index: -1;
  -webkit-mask-image: url(../imgs/bg/page5.png);
          mask-image: url(../imgs/bg/page5.png);
  -webkit-mask-position: 30px 125px;
          mask-position: 30px 125px;
  opacity: 0.8;
  transform: translateX(-50%) rotate(10deg);
}
#vue_app .header {
  position: relative;
  min-height: 300px;
  height: 90vh;
  max-height: 700px;
  padding: 0 !important;
  margin: 0 !important;
}
#vue_app .header video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 300px;
  height: 90vh;
  max-height: 700px;
  padding: 0 !important;
  margin: 0 !important;
  pointer-events: none;
}
#vue_app .header .headerOver {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(175, 40, 40, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 300px;
  max-height: 700px;
  padding: 0 !important;
  margin: 0 !important;
  border-bottom: 5px solid rgba(248, 255, 149, 0.5);
  z-index: 5;
}
#vue_app .header .headerOver h1,
#vue_app .header .headerOver h2 {
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#vue_app .header .headerOver h1 {
  font-family: "Amarante", serif;
  font-size: 60px;
}
#vue_app .header .headerOver h1 span {
  font-family: "Noto Music", sans-serif;
  font-size: 55px;
}
#vue_app .header .headerOver h2 {
  font-family: "Arsenal", sans-serif;
  font-weight: 600;
  width: 80%;
}
#vue_app .header .headerOver a {
  text-decoration: none;
}
#vue_app .header .headerOver a div {
  background: rgba(248, 248, 248, 0.8);
  backdrop-filter: blur(10px);
  padding: 6px 15px;
  border-radius: 15px;
  border: 2px solid black;
  font-family: "Arsenal", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-shadow: 0px 0px 5px white;
  z-index: 10;
  transition: 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  color: black !important;
}
#vue_app .header .headerOver a div:hover {
  background: rgb(248, 248, 248);
}
#vue_app .heading {
  background: black;
  margin-bottom: 0 !important;
  color: #f8ff95;
  overflow: hidden;
  border-bottom: 1px solid #f8ff95;
}
#vue_app .heading h6 {
  text-align: center;
  position: relative;
  left: -150px;
  margin-top: 10px;
  font-family: "Arsenal", sans-serif;
  font-style: italic;
  font-variant: small-caps;
  font-size: 20px;
  font-weight: 700;
}
#vue_app .heading h1 {
  text-align: center;
  font-size: 70px;
  font-family: "Jomhuria", sans-serif;
  padding: 0 !important;
  line-height: 50px;
}
#vue_app .content-container.container-fluid {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0 !important;
  padding: 10px 50px !important;
  color: white;
  max-width: 1100px;
  width: 95%;
  border-right: 1px solid rgba(248, 255, 149, 0.5);
  border-left: 1px solid rgba(248, 255, 149, 0.5);
  background: linear-gradient(to bottom, #2e1000, #1c0a00);
}
#vue_app .content-container.container-fluid .reviews {
  padding: 0px 10px;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}
#vue_app .content-container.container-fluid .reviews h1:first-child {
  font-family: "Abril Fatface", serif;
  font-size: 40px;
  color: #f8ff95;
  margin-bottom: 10px;
}
#vue_app .content-container.container-fluid .reviews .review {
  margin-top: 20px;
  margin-bottom: 30px;
}
#vue_app .content-container.container-fluid .reviews .review .text {
  height: -moz-fit-content !important;
  height: fit-content !important;
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
}
#vue_app .content-container.container-fluid .reviews .review .text .caption {
  font-family: "Times New Roman", serif;
  font-style: italic;
  margin-top: 80px;
  padding-bottom: 5px;
}
#vue_app .content-container.container-fluid .reviews .review .img {
  margin-bottom: 15px;
}
#vue_app .content-container.container-fluid .reviews .review .img img {
  width: 100%;
  aspect-ratio: 5/6;
  -o-object-fit: cover;
     object-fit: cover;
}
#vue_app .content-container.container-fluid .reviews .review.left {
  padding-left: 8px;
}
#vue_app .content-container.container-fluid .reviews .review.left .text {
  border-left: 8px solid #f8ff95;
  box-sizing: border-box !important;
}
#vue_app .content-container.container-fluid .reviews .review.right {
  padding-right: 8px;
}
#vue_app .content-container.container-fluid .reviews .review.right .text {
  text-align: right;
  border-right: 8px solid #f8ff95;
  box-sizing: border-box !important;
}
#vue_app .content-container.container-fluid .reviews .review.right .text div,
#vue_app .content-container.container-fluid .reviews .review.right .text span {
  text-align: right;
}
#vue_app .content-container.container-fluid .blurb {
  font-family: "Arsenal", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  color: #f8ff95;
  padding: 10px 35px;
  text-align: center;
  border-bottom: 5px solid rgba(248, 255, 149, 0.5);
  margin-left: -50px;
  margin-right: -50px;
  width: calc(100% + 100px);
}
#vue_app .content-container.container-fluid .part2 {
  border-bottom: 5px solid rgba(248, 255, 149, 0.5);
  margin-left: -50px;
  margin-right: -50px;
  width: calc(100% + 100px);
  font-family: "ABeeZee", sans-serif;
}
#vue_app .content-container.container-fluid .part2 table {
  width: calc(100% - 100px);
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 10px;
}
#vue_app .content-container.container-fluid .part2 table tr {
  width: 100%;
}
#vue_app .content-container.container-fluid .part2 table tr td {
  position: relative;
  vertical-align: top;
  padding: 0 !important;
  margin: 0 !important;
}
#vue_app .content-container.container-fluid .part2 table tr td img {
  width: 100%;
  min-width: 150px;
  max-width: 250px;
  max-height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}
#vue_app .content-container.container-fluid .part2 table tr:nth-child(1) td img {
  -o-object-position: right;
     object-position: right;
}
#vue_app .content-container.container-fluid .part2 table tr:nth-child(2) td {
  vertical-align: middle;
  text-align: center;
  color: #f8ff95;
  font-family: "Jomhuria", sans-serif;
  font-size: 30px;
  line-height: 25px;
}
#vue_app .content-container.container-fluid .part2 table tr:nth-child(2) td:has(img) {
  vertical-align: bottom;
  text-align: left;
}
#vue_app .content-container.container-fluid .part2 table tr:nth-child(2) td:has(img) img {
  margin-right: auto;
  -o-object-position: left;
     object-position: left;
}
#vue_app .content-container.container-fluid .part2 table tr:nth-child(3) td {
  text-align: right;
  vertical-align: bottom;
}
#vue_app .contact-form.container-fluid {
  background: linear-gradient(to bottom, #2e1000, #1c0a00);
  width: 98%;
  margin-top: 2%;
  border: 5px solid rgba(248, 255, 149, 0.5);
  border-bottom: 0 !important;
  padding: 0 !important;
  max-width: 1100px;
}
#vue_app .contact-form.container-fluid .row {
  padding: 0 !important;
  margin: 0 !important;
}
#vue_app .contact-form.container-fluid .row .formcontainer {
  padding: 20px;
  margin: 0 !important;
}
#vue_app .contact-form.container-fluid .row .formcontainer .inner {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgba(248, 255, 149, 0.5);
}
#vue_app .contact-form.container-fluid .row .formcontainer .inner h1 {
  font-family: "Times New Roman", serif;
  color: #f8ff95;
  text-align: center;
}
#vue_app .contact-form.container-fluid .row .formcontainer .inner table {
  color: white;
}
#vue_app .contact-form.container-fluid .row .formcontainer .inner table tr th {
  border-right: 1px solid white;
  background: white;
  -webkit-mask-size: auto 80%;
          mask-size: auto 80%;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  aspect-ratio: 1/1;
  width: 50px;
  height: 40px;
}
#vue_app .contact-form.container-fluid .row .formcontainer .inner table tr td {
  padding-left: 10px;
  font-style: italic;
  font-family: "ABeeZee", sans-serif;
}
#vue_app .contact-form.container-fluid .row .formcontainer .inner table tr td a {
  color: white !important;
}
#vue_app .contact-form.container-fluid .row .formcontainer .inner form label {
  color: white;
  font-family: "Times New Roman", serif;
  margin-top: 8px;
  font-size: 18px;
}
#vue_app .contact-form.container-fluid .row .formcontainer .inner form input,
#vue_app .contact-form.container-fluid .row .formcontainer .inner form textarea {
  display: block;
  width: 100%;
  background-color: rgba(80, 80, 80, 0.5);
  border: 1px solid #f8ff95;
  transition: 0.5s;
  padding-left: 8px !important;
  padding: 3px;
  color: white;
}
#vue_app .contact-form.container-fluid .row .formcontainer .inner form input:focus,
#vue_app .contact-form.container-fluid .row .formcontainer .inner form textarea:focus {
  outline: none;
  background-color: rgba(120, 120, 120, 0.8);
}
#vue_app .contact-form.container-fluid .row .formcontainer .inner form input::-moz-placeholder, #vue_app .contact-form.container-fluid .row .formcontainer .inner form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
#vue_app .contact-form.container-fluid .row .formcontainer .inner form input::placeholder,
#vue_app .contact-form.container-fluid .row .formcontainer .inner form textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
#vue_app .contact-form.container-fluid .row .formcontainer .inner form button[type=submit] {
  background: #f8ff95;
  color: black;
  padding: 2px 20px;
  margin: 5px 0px 0px -2px !important;
  border-radius: 5px;
  font-family: "ABeeZee", sans-serif;
}
#vue_app .contact-form.container-fluid .row .formcontainer .inner .d-none,
#vue_app .contact-form.container-fluid .row .formcontainer .inner .d-block {
  margin-top: 15px;
  padding: 15px;
  padding-right: 5px !important;
}
#vue_app .contact-form.container-fluid .row .formcontainer .inner .d-none .box1,
#vue_app .contact-form.container-fluid .row .formcontainer .inner .d-none .box2,
#vue_app .contact-form.container-fluid .row .formcontainer .inner .d-block .box1,
#vue_app .contact-form.container-fluid .row .formcontainer .inner .d-block .box2 {
  color: black;
  font-family: "ABeeZee", sans-serif;
  font-size: 14px;
}
#vue_app .contact-form.container-fluid .row .formcontainer .inner .d-none .box1,
#vue_app .contact-form.container-fluid .row .formcontainer .inner .d-block .box1 {
  background-color: #ffd477;
  padding: 10px;
  margin-bottom: 10px;
}
#vue_app .contact-form.container-fluid .row .formcontainer .inner .d-none .box2,
#vue_app .contact-form.container-fluid .row .formcontainer .inner .d-block .box2 {
  background-color: rgba(255, 212, 119, 0.7);
  border: 5px solid #f8ff95;
  padding: 10%;
}
#vue_app .contact-form.container-fluid .row .postercontainer {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#vue_app .contact-form.container-fluid .row .postercontainer img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1000px) {
  .headerOver h1 {
    font-size: 80px !important;
  }
  .headerOver h2 {
    font-size: calc(auto * 1.2);
  }
}
@media screen and (max-width: 768px) {
  .reviews {
    max-width: 400px !important;
  }
  .review .text {
    border: none !important;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center !important;
  }
  .review .text div,
  .review .text span {
    text-align: center !important;
  }
  .review .text .caption {
    margin-bottom: 0 !important;
    margin-top: 20px !important;
  }
  .review .img {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .review .img.top {
    display: none !important;
  }
  .review {
    border: 1px solid rgba(248, 255, 149, 0.5);
    padding-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  .formcontainer {
    padding: 20px !important;
  }
  .formcontainer .inner {
    padding: 0px !important;
    border: none !important;
  }
}/*# sourceMappingURL=style.css.map */