$base: "nav-bar";
$accent: #f8ff95;
$border: rgba($accent, 0.5);
$dark: black;
$anim-length: 0.3s;
@mixin centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.#{$base} {
  $self: &;
  @mixin toggle {
    @include centerFlex;
    cursor: pointer;
    position: absolute;
    height: 38px;
    aspect-ratio: 1/1;
    right: 0;
    color: $accent;
  }
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  aspect-ratio: 1/3;
  max-width: 300px;
  min-width: 200px;
  z-index: 10;
  background: $dark;
  #{$self}-close {
    @include toggle;
    background: rgba($dark, 0.5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #{$self}-open {
    @include toggle;
    transform: translateX(100%);
    background: $dark;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .control-icon {
    height: 70%;
    width: 70%;
    background: $accent;
  }
  #{$self}-header img {
    width: 100%;
    height: auto;
  }
  #{$self}-body {
    $searchHeight: 50px;
    $extrasHeight: 80px;
    $listHeight: calc(
      100vh - (100vh * (1 / 3)) - $searchHeight - $extrasHeight
    );
    #{$self}-list {
      border-bottom: 1px solid $border;
      height: $listHeight;
      #{$self}-item {
        cursor: pointer;
        position: relative;
        font-family: "Arsenal", sans-serif;
        font-size: 25px;
        height: 34px;
        margin-top: 2px;
        margin-bottom: 2px;
        text-align: right;
        padding-right: 10px;
        transition: background $anim-length;
        &:hover {
          background: $accent;
          transition: background $anim-length;
          a {
            color: $dark;
          }
          #{$self}-item-icon {
            background: $accent;
            #{$self}-item-icon-mask {
              background: $dark;
            }
          }
        }
        a {
          color: $accent;
          text-decoration: none;
        }
        #{$self}-item-icon {
          @include centerFlex;
          position: absolute;
          height: 100%;
          aspect-ratio: 1/1;
          background: $dark;
          top: 0;
          right: 0;
          transform: translateX(100%);
          transition: background $anim-length;
          #{$self}-item-icon-mask {
            height: 70%;
            width: 70%;
            background: $accent;
            transition: background $anim-length;
          }
        }
      }
      #{$self}-dropdown {
        position: relative;
        .dropdown-body {
          display: none;
          background: $dark;
          border-top: 1px solid $accent;
          border-bottom: 1px solid $accent;
          position: absolute;
          bottom: -1px;
          left: 100%;
          padding: 0 !important;
          .nav-dropdown-item a {
            padding: 0px 5px;
            margin: 0 !important;
            height: 35px;
            color: $accent;
            transition: $anim-length;
            &:hover {
              background: $accent;
              color: $dark !important;
            }
          }
        }
        &:hover .dropdown-body {
          display: block;
        }
      }
    }
    #{$self}-search {
      cursor: pointer;
      height: $searchHeight;
      display: flex;
      user-select: none;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $border;
      padding: 5px;
      #sham-input {
        height: 35px;
        background: rgba(128, 128, 128, 0.5);
        border: 2px solid $border;
        width: calc(100% - 40px);
        font-size: 25px;
        line-height: 30px;
        padding-left: 5px;
        color: $border;
        cursor: pointer;
        font-family: "Arsenal", sans-serif;
        transition: box-shadow 0.1s;
        &:hover {
          color: $accent;
        }
      }
      .search-icon {
        height: calc(0.9 * 35px);
        aspect-ratio: 1/1;
        background: $accent;
        margin-left: 10px;
      }
    }
    #{$self}-extras {
      height: $extrasHeight;
      overflow: auto;
      display: flex;
      .extras-text {
        border-right: 1px solid $border;
        height: 100%;
        width: 70%;
        padding-top: 5px;
        padding-left: 5px;
        p,
        a {
          display: block;
          color: white;
          font-size: 15px;
          position: relative;
          padding: 0 !important;
          margin: 0 !important;
          box-sizing: border-box;
        }
      }
      .extras-map {
        width: 30%;
        padding: 0 !important;
        margin: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        a img {
          height: calc(0.9 * $extrasHeight);
          width: calc(0.9 * 100%);
          object-fit: cover;
          border-radius: 2px;
        }
      }
    }
  }
}
.#{$base}-away {
  // transform: translateX(-100%);
}

$footBase: "footer";
.#{$footBase}-icons {
  $self: &;
  background: yellow;
  #{$self}-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background: black;
  }
}
.#{$footBase}-copyright {
  p {
    color: green;
  }
}
