$dark: black;
$mid: #1c0a00;
$light: #2e1000;
$accent: #f8ff95;
$border: rgba($accent, 0.5);
@font-face {
  font-family: "Arsenal";
  src: url("../fonts/Arsenal-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arsenal";
  src: url("../fonts/Arsenal-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arsenal";
  src: url("../fonts/Arsenal-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arsenal";
  src: url("../fonts/Arsenal-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "ABeeZee";
  src: url("../fonts/ABeeZee-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "ABeeZee";
  src: url("../fonts/ABeeZee-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jomhuria";
  src: url("../fonts/Jomhuria-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  width: 100%;
}
body {
  background: black;
  overflow-x: hidden;
}
img {
  user-select: none;
}
.searchResult {
  background: rgba($accent, 0.3);
  animation-name: loadTarget;
  animation-fill-mode: forwards;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
}
@keyframes loadTarget {
  0% {
    background: rgba($accent, 0.3);
  }
  10% {
    background: rgba($accent, 0.8);
  }
  30% {
    background: rgba($accent, 0.3);
  }
  100% {
    background: rgba($accent, 0);
  }
}
#vue_app {
  @mixin music {
    content: "";
    background: linear-gradient(to bottom, rgb(114, 65, 42) 50%, $dark);
    position: fixed;
    width: 120%;
    height: 120%;
    top: 0;
    left: 50%;
    mask-size: 750px;
    filter: drop-shadow(0px 0px 1px $accent);
  }
  &::before {
    @include music();
    z-index: -2;
    mask-image: url(../imgs/bg/page1.png);
    opacity: 0.5;
    transform: translateX(-50%) rotate(-10deg);
  }
  &::after {
    @include music();
    z-index: -1;
    mask-image: url(../imgs/bg/page5.png);
    mask-position: 30px 125px;
    opacity: 0.8;
    transform: translateX(-50%) rotate(10deg);
  }
  .header {
    position: relative;
    min-height: 300px;
    height: 90vh;
    max-height: 700px;
    padding: 0 !important;
    margin: 0 !important;
    video {
      width: 100%;
      object-fit: cover;
      min-height: 300px;
      height: 90vh;
      max-height: 700px;
      padding: 0 !important;
      margin: 0 !important;
      pointer-events: none;
    }
    .headerOver {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(175, 40, 40, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      min-height: 300px;
      max-height: 700px;
      padding: 0 !important;
      margin: 0 !important;
      border-bottom: 5px solid $border;
      z-index: 5;
      h1,
      h2 {
        color: white;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        user-select: none;
      }
      h1 {
        font-family: "Amarante", serif;
        font-size: 60px;
        span {
          font-family: "Noto Music", sans-serif;
          font-size: 55px;
        }
      }
      h2 {
        font-family: "Arsenal", sans-serif;
        font-weight: 600;
        width: 80%;
      }
      a {
        text-decoration: none;
      }
      a div {
        background: rgba(248, 248, 248, 0.8);
        backdrop-filter: blur(10px);
        padding: 6px 15px;
        border-radius: 15px;
        border: 2px solid black;
        font-family: "Arsenal", sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-shadow: 0px 0px 5px white;
        z-index: 10;
        transition: 0.5s;
        user-select: none;
        cursor: pointer;
        color: black !important;
      }
      a div:hover {
        background: rgba(248, 248, 248, 1);
      }
    }
  }
  .heading {
    background: black;
    margin-bottom: 0 !important;
    color: $accent;
    overflow: hidden;
    padding-top: 10px;
    border-bottom: 1px solid $accent;
    h6 {
      text-align: center;
      position: relative;
      left: -150px;
      font: {
        family: "Arsenal", sans-serif;
        style: italic;
        variant: small-caps;
        size: 20px;
        weight: 700;
      }
    }
    h1 {
      text-align: center;
      font-size: 70px;
      font-family: "Jomhuria", sans-serif;
      padding: 0 !important;
      line-height: 50px;
    }
    .clef {
      font-family: 'Noto Music', sans-serif;
      font-size: 30px;
    }
  }
  .content-container.container-fluid {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0 !important;
    padding: 10px 50px !important;
    color: white;
    max-width: 1100px;
    width: 95%;
    border-right: 1px solid $border;
    border-left: 1px solid $border;
    background: linear-gradient(to bottom, $light, $mid);
    .reviews {
      padding: 0px 10px;
      max-width: 900px;
      margin-right: auto;
      margin-left: auto;
      h1:first-child {
        font-family: "Abril Fatface", serif;
        font-size: 40px;
        color: $accent;
        margin-bottom: 10px;
      }
      .review {
        $border: 8px solid $accent;
        margin-top: 20px;
        margin-bottom: 30px;
        .text {
          height: fit-content !important;
          box-sizing: border-box;
          font-family: "ABeeZee", sans-serif;
          .caption {
            font-family: "Times New Roman", serif;
            font-style: italic;
            margin-top: 80px;
            padding-bottom: 5px;
          }
        }
        .img {
          margin-bottom: 15px;
          img {
            width: 100%;
            aspect-ratio: 5/6;
            object-fit: cover;
          }
        }
        &.left {
          padding-left: 8px;
          .text {
            border-left: $border;
            box-sizing: border-box !important;
          }
        }
        &.right {
          padding-right: 8px;
          .text {
            text-align: right;
            border-right: $border;
            box-sizing: border-box !important;
            div,
            span {
              text-align: right;
            }
          }
        }
      }
    }
    .blurb {
      font-family: "Arsenal", sans-serif;
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
      color: $accent;
      padding: 10px 35px;
      text-align: center;
      border-bottom: 5px solid $border;
      margin-left: -50px;
      margin-right: -50px;
      width: calc(100% + 100px);
    }
    .part2 {
      container-type: inline-size;
      container-name: part2;
      border-bottom: 5px solid $border;
      margin: 10px -50px;
      width: calc(100% + 100px);
      font-family: "ABeeZee", sans-serif;
      @mixin inter {
        text-align: center;
        color: $accent;
        font: {
          family: "Jomhuria", sans-serif;
          size: 40px;
        }
        line-height: 25px;
      }
      table {
        width: calc(100% - 100px);
        margin-left: auto;
        margin-right: auto;
        border-collapse: separate;
        border-spacing: 10px;
        tr {
          width: 100%;
          td {
            position: relative;
            vertical-align: top;
            padding: 0 !important;
            margin: 0 !important;
            img {
              width: 100%;
              min-width: 150px;
              max-width: 250px;
              max-height: 250px;
              object-fit: cover;
              border: 1px solid $border;
            }
          }
        }
        tr:nth-child(1) td img {
          object-position: right;
        }
        tr:nth-child(2) {
          td {
            vertical-align: middle;
            @include inter();
          }
          td:has(img) {
            vertical-align: bottom;
            text-align: left;
            img {
              margin-right: auto;
              object-position: left;
            }
          }
        }
        tr:nth-child(3) td {
          text-align: right;
          vertical-align: bottom;
        }
      }
      .img1 {
        display: none;
      }
      .row1,
      .row2 {
        padding: 0px 30px;
        margin: 10px 0px;
        img {
          width: 100%;
          margin-bottom: 10px;
          margin-top: 10px;
        }
      }
      .inter {
        @include inter();
      }
      .row2 {
        .text {
          text-align: right;
        }
      }
    }
    .part3 {
      border-bottom: 5px solid $border;
      margin: 10px -50px;
      width: calc(100% + 100px);
      padding: 0px 35px;
      h1 {
        font: {
          family: "Jomhuria", sans-serif;
          size: 55px;
        }
        color: $accent;
        padding: 0 !important;
        margin-top: 10px !important;
        line-height: 40px;
        text-align: center;
      }
      p,
      span {
        margin: 5px;
        text-align: center;
        font: {
          family: "ABeeZee", sans-serif;
          size: 17px;
        }
      }
      span {
        display: block;
        font-size: 16px;
        font-style: italic;
        margin-top: 15px;
        font-family: "Times New Roman", serif;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: -6px;
          left: 50%;
          width: 30%;
          height: 1px;
          background: $border;
          transform: translateX(-50%);
        }
      }
      a {
        text-decoration: none;
      }
      .button {
        margin: 10px auto 0px auto;
        border: 1px solid black;
        box-shadow: 0px 0px 3px $accent;
        background: $light;
        width: 230px;
        text-align: center;
        padding: 2px 10px;
        border-radius: 10px;
        font-family: "Cinzel", serif;
        font-size: 20px;
        color: $accent;
        cursor: pointer;
        transition: 0.5s;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          background: lighten($light, 10%);
        }
      }
      img {
        width: 100%;
        margin: 5px;
        border: 1px solid $border;
      }
      .text {
        padding-bottom: 10px;
        margin-bottom: 5px;
      }
    }
    .part4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font: {
          family: "Jomhuria";
          size: 60px;
        }
        line-height: 50px;
        margin: 5px;
        padding: 0;
        text-align: center;
        color: $accent;
      }
      .content {
        display: flex;
        width: 80%;
        img {
          width: 30%;
          object-fit: contain;
          object-position: top;
          height: fit-content;
          border: 1px solid $border;
        }
        p {
          text-align: left;
          font-family: "ABeeZee", sans-serif;
          font-size: 16px;
          padding-left: 10px;
        }
      }
    }
    @mixin h2 {
      font-family: "Times New Roman";
      color: $accent;
      font-size: 28px;
      padding-bottom: 0;
      margin-bottom: 10px;
      font-weight: 900;
      font-style: italic;
      text-align: center;
    }
    .topCarousel h2 {
      @include h2();
      margin-bottom: 3px;
    }
    .showSection {
      border-top: 5px solid $border;
      width: calc(100% + 100px);
      padding: 10px 0;
      margin: 15px -50px 0 -50px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      h2 {
        @include h2();
      }
      .shows {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        .show {
          border: 1px solid $border;
          width: 20%;
          min-width: 150px;
          max-width: 250px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .radioCity {
      border-top: 5px solid $border;
      margin: 10px -50px 0 -50px;
      width: calc(100% + 100px);
      padding-top: 10px;
      a {
        color: $accent;
        transition: 0.5s;
        &:hover {
          color: white;
        }
        h2 {
          @include h2();
          text-decoration: none;
          transition: 0.5s;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  .contact-form.container-fluid {
    background: linear-gradient(to bottom, $light, $mid);
    width: 98%;
    margin-top: 2%;
    border: 5px solid $border;
    border-bottom: 0 !important;
    padding: 0 !important;
    max-width: 1100px;
    .row {
      padding: 0 !important;
      margin: 0 !important;
      .formcontainer {
        padding: 20px;
        margin: 0 !important;
        .inner {
          padding: 20px 0px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 5px solid $border;
          h1 {
            font-family: "Times New Roman", serif;
            color: $accent;
            text-align: center;
          }
          table {
            color: white;
            tr {
              th {
                border-right: 1px solid white;
                background: white;
                mask-size: auto 80%;
                mask-position: center;
                mask-repeat: no-repeat;
                aspect-ratio: 1/1;
                width: 50px;
                height: 40px;
              }
              td {
                padding-left: 10px;
                font-style: italic;
                font-family: "ABeeZee", sans-serif;
                a {
                  color: white !important;
                }
              }
            }
          }
          form {
            label {
              color: white;
              font-family: "Times New Roman", serif;
              margin-top: 8px;
              font-size: 18px;
            }
            input,
            textarea {
              display: block;
              width: 100%;
              background-color: rgba(80, 80, 80, 0.5);
              border: 1px solid $accent;
              transition: 0.5s;
              padding-left: 8px !important;
              padding: 3px;
              color: white;
              &:focus {
                outline: none;
                background-color: rgba(120, 120, 120, 0.8);
              }
              &::placeholder {
                color: rgba(255, 255, 255, 0.6);
              }
            }
            button[type="submit"] {
              background: $accent;
              color: black;
              padding: 2px 20px;
              margin: 5px 0px 0px -2px !important;
              border-radius: 5px;
              font-family: "ABeeZee", sans-serif;
            }
          }
          .d-none,
          .d-block {
            margin-top: 15px;
            padding: 15px;
            padding-right: 5px !important;
            .box1,
            .box2 {
              color: black;
              font-family: "ABeeZee", sans-serif;
              font-size: 14px;
            }
            .box1 {
              background-color: #ffd477;
              padding: 10px;
              margin-bottom: 10px;
            }
            .box2 {
              background-color: rgba(#ffd477, 0.7);
              border: 5px solid $accent;
              padding: 10%;
            }
          }
        }
      }
      .postercontainer {
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .headerOver {
    h1 {
      font-size: 80px !important;
    }
    h2 {
      font-size: calc(auto * 1.2);
    }
  }
}
@media screen and (max-width: 768px) {
  .reviews {
    max-width: 400px !important;
  }
  .review {
    .text {
      border: none !important;
      padding-bottom: 5px;
      margin-bottom: 10px;
      text-align: center !important;
      div,
      span {
        text-align: center !important;
      }
      .caption {
        margin-bottom: 0 !important;
        margin-top: 20px !important;
      }
    }
    .img {
      display: flex !important;
      justify-content: center;
      align-items: center;
      &.top {
        display: none !important;
      }
    }
    border: 1px solid $border;
    padding-top: 10px;
  }
  .part3 {
    .text {
      border-bottom: 1px solid $accent;
    }
  }
}
@media screen and (max-width: 900px) {
  .part4 {
    margin-bottom: 10px;
    .content {
      display: block !important;
      width: 90%;
      img {
        float: left;
        margin-right: 10px;
        margin-bottom: 5px;
        width: 50% !important;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .formcontainer {
    padding: 20px !important;
    .inner {
      padding: 0px !important;
      border: none !important;
    }
  }
  .content {
    img {
      float: none !important;
      width: 100% !important;
    }
    p {
      text-align: center !important;
    }
  }
}
@container part2 (max-width: 550px) {
  .row1,
  .row2 {
    display: block !important;
    .text {
      width: 100%;
      text-align: justify !important;
    }
  }
  .row1 {
    .img2 {
      display: none;
    }
    .img1 {
      display: block !important;
      float: right;
    }
  }
  .row2 {
    .img1 {
      display: block !important;
      float: left;
    }
    .img2 {
      display: none;
    }
  }
}
@container part2 (max-width: 520px) {
  .row2 .img1 {
    display: none !important;
  }
}
