$dark: black;
$mid: #1C0A00;
$light: #2E1000;
$accent: #f8ff95;
$border: rgba($accent, 0.5);
@font-face {
    font-family: 'Arsenal';
    src: url('../fonts/Arsenal-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Arsenal';
    src: url('../fonts/Arsenal-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Arsenal';
    src: url('../fonts/Arsenal-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Arsenal';
    src: url('../fonts/Arsenal-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

html {
    height: 100%;
    width: 100%;
}
body {
    filter: saturate(80%);
    background: $light;
}