<!doctype html>
<html>
  <head>
    <title>Music and Art Academy</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--SEO-->
    <meta
      name="description"
      content="Come study the arts at the Music and Art Academy!"
    />
    <meta name="theme-color" content="#1C0A00" />
    <meta name="format-detection" content="telephone=no" />
    <!--OG-->
    <meta property="og:title" content="Music and Art Academy" />
    <meta
      property="og:description"
      content="Come study the arts at the Music and Art Academy!"
    />
    <meta
      property="og:image"
      content="https://james-ibersteen-hawker.github.io/maacademy-WBLP/MAINLOGO.png"
    />
    <meta property="og:type" content="website" />
    <!--referrer + security + canonical-->
    <link
      rel="canonical"
      href="https://james-ibersteen-hawker.github.io/maacademy-WBLP/"
    />
    <!--CSS + fonts-->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/components.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amarante&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Music&display=swap"
      rel="stylesheet"
    />
    <link
      rel="preload"
      as="font"
      href="fonts/Arsenal-Regular.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="fonts/Arsenal-Bold.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="fonts/Arsenal-BoldItalic.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="fonts/Arsenal-Italic.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="fonts/ABeeZee-Italic.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="fonts/ABeeZee-Regular.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="fonts/Jomhuria-Regular.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <!--favicons-->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="webicons/logo16x16.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://james-ibersteen-hawker.github.io/maacademy-WBLP/webicons/logo180x180.png"
    />
    <!--prefetch-->
    <link rel="prefetch" href="./html/about-us.html" />
    <link rel="prefetch" href="./html/contact.html" />
    <link rel="preload" href="MAINLOGO.png" as="image" />
    <link rel="preload" href="map.png" as="image" />
    <!--nav icons preload-->
    <link
      crossorigin
      rel="preload"
      href="./webicons/navbar-icons/close.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="./webicons/navbar-icons/right-arrow.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="./webicons/navbar-icons/home.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="./webicons/navbar-icons/information.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="./webicons/navbar-icons/phone-call.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="./webicons/navbar-icons/music.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="./webicons/navbar-icons/teacher.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="./webicons/navbar-icons/party.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="./webicons/navbar-icons/radio-city.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="./webicons/navbar-icons/images.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="./webicons/navbar-icons/search.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="./webicons/navbar-icons/next.png"
      as="image"
    />
    <!--ld+json-->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "MAAcademy",
        "description": "Come and study music and art at the Music and Art Academy!",
        "url": "https://james-ibersteen-hawker.github.io/maacademy-WBLP/",
        "publisher": {
          "@type": "Organization",
          "name": "Music and Art Academy",
          "logo": "https://james-ibersteen-hawker.github.io/maacademy-WBLP/MAINLOGO.png"
        }
      }
    </script>
    <!--Vue-->
    <script
      defer
      src="https://unpkg.com/vue@3.0.11/dist/vue.global.prod.js"
    ></script>
    <script defer src="javascript/components.js"></script>
    <script defer src="javascript/classes.js"></script>
    <script defer src="javascript/sheet.js" type="module"></script>
    <script>
      if ("scrollRestoration" in history) {
        history.scrollRestoration = "manual";
      }
    </script>
  </head>
  <body>
    <main id="vue_app">
      <nav-bar
        :links="pages"
        logo="MAINLOGO.png"
        :results="results.data"
        :phone="content?.['Phone Number']"
        :address="content?.['Address']"
        :map="content?.['Map']"
        :loading="loading"
        @query="searchSite"
        @choose="runSelection"
      ></nav-bar>
      <div class="header">
        <div class="headerOver">
          <h1>Music <span>&#x1D11E;</span> Art Academy</h1>
          <h2>Arts Education is for Everyone!</h2>
          <a href="html/about-us.html" target="_self">
            <div>Welcome</div>
          </a>
        </div>
        <video
          src="imgs/headerVideo.mov"
          alt="Music and Art Academy"
          class="headerVid"
          loop
          muted
          autoplay
        >
          Your browser does not support this video element
        </video>
      </div>
      <div class="content-container container-fluid">
        <div class="reviews">
          <h1>Asbury Park Press</h1>
          <div
            v-for="(r, i) in content?.['reviews']"
            class="review row"
            :class="{'left': i % 2 === 0, 'right': i % 2 === 1}"
          >
            <div
              class="img col-12 col-md-4 top"
              :class="{'d-none': i % 2 === 0}"
            >
              <img :src="r.IMAGE" :alt="r['By:']" loading="lazy" />
            </div>
            <div class="text col-12 col-md-8">
              <span>{{r.REVIEWS}}</span>
              <div class="caption">{{r["By:"]}}</div>
            </div>
            <div
              class="img col-12 col-md-4 bottom"
              :class="{'d-none': i % 2 === 1}"
            >
              <img :src="r.IMAGE" :alt="r['By:']" loading="lazy" />
            </div>
          </div>
          <loading v-if="!content?.['reviews']"></loading>
        </div>
        <div class="carousel-div">
          <h1>Image Gallery*</h1>
          <img-carousel
            :images="content?.['HOME'] || defaultCarousel"
            c-name="first"
          ></img-carousel>
          <div class="has-btn">
            <a href="html/about-us.html" target="_self">
              <div class="button">Read About Us</div>
            </a>
          </div>
          <p>*Click the images to enlarge them</p>
        </div>
        <div class="carousel-div">
          <h1>Featured Courses</h1>
          <img-carousel
            :images="content?.['COURSES'] || defaultCarousel"
            c-name="courses"
          ></img-carousel>
          <div class="has-btn">
            <a href="html/classes.html" target="_self">
              <div class="button">Schedule a Class</div>
            </a>
          </div>
        </div>
      </div>
      <page-footer
        :icons="content?.['contacts']"
        :copyright="content?.['copyright']"
      ></page-footer>
    </main>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/fuse.js@7.1.0/dist/fuse.min.js"
    ></script>
    <script defer src="javascript/bootstrap.bundle.min.js"></script>
    <script defer src="javascript/script.js"></script>
  </body>
</html>
