<!doctype html>
<html>
  <head>
    <title>Radio City from MAAcademy</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--SEO-->
    <meta name="description" content="Sing with us at Radio City!" />
    <meta name="theme-color" content="#1C0A00" />
    <meta name="format-detection" content="telephone=no" />
    <!--OG-->
    <meta property="og:title" content="Radio City Opportunities" />
    <meta property="og:description" content="Sing with us at Radio City!" />
    <meta
      property="og:image"
      content="https://james-ibersteen-hawker.github.io/maacademy-WBLP/MAINLOGO.png"
    />
    <meta property="og:type" content="website" />
    <!--referrer + security + canonical-->
    <meta name="referrer" content="strict-origin-when-cross-origin" />
    <meta
      http-equiv="Content-Security-Policy"
      content="
        default-src 'self';
        script-src 'self' https://cdn.jsdelivr.net https://unpkg.com 'unsafe-eval' 'unsafe-inline';
        img-src 'self' data: https://lh3.googleusercontent.com https://james-ibersteen-hawker.github.io http://www.w3.org;
        connect-src 'self' https://script.google.com;
        style-src 'self' https://fonts.googleapis.com;
        font-src 'self' https://fonts.gstatic.com;
      "
    />
    <link
      rel="canonical"
      href="https://james-ibersteen-hawker.github.io/maacademy-WBLP/html/radio-city.html"
    />
    <!--CSS + fonts-->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/components.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap"
      rel="stylesheet"
    />
    <link
      rel="preload"
      as="font"
      href="../fonts/Arsenal-Regular.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="../fonts/Arsenal-Bold.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="../fonts/Arsenal-BoldItalic.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="../fonts/Arsenal-Italic.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="../fonts/ABeeZee-Italic.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="../fonts/ABeeZee-Regular.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="../fonts/Jomhuria-Regular.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <!--favicons-->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../webicons/logo16x16.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://james-ibersteen-hawker.github.io/maacademy-WBLP/webicons/logo180x180.png"
    />
    <!--prefetch-->
    <link rel="prefetch" href="../html/contact.html" />
    <link rel="prefetch" href="../html/classes.html" />
    <link rel="preload" href="../MAINLOGO.png" as="image" />
    <link rel="preload" href="../map.png" as="image" />
    <!--nav icons preload-->
    <link
      crossorigin
      rel="preload"
      href="../webicons/navbar-icons/close.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="../webicons/navbar-icons/right-arrow.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="../webicons/navbar-icons/home.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="../webicons/navbar-icons/information.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="../webicons/navbar-icons/phone-call.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="../webicons/navbar-icons/music.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="../webicons/navbar-icons/teacher.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="../webicons/navbar-icons/party.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="../webicons/navbar-icons/radio-city.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="../webicons/navbar-icons/images.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="../webicons/navbar-icons/search.png"
      as="image"
    />
    <link
      crossorigin
      rel="preload"
      href="../webicons/navbar-icons/next.png"
      as="image"
    />
    <!--ld+json-->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "Radio City at the Academy",
        "description": "Sing with us at Radio City!",
        "url": "https://james-ibersteen-hawker.github.io/maacademy-WBLP/html/radio-city.html",
        "publisher": {
          "@type": "Organization",
          "name": "Music and Art Academy",
          "logo": "https://james-ibersteen-hawker.github.io/maacademy-WBLP/MAINLOGO.png"
        }
      }
    </script>
    <!--Vue-->
    <!-- <script
      defer
      src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"
    ></script> -->
    <script
      defer
      src="https://unpkg.com/vue@3.0.11/dist/vue.global.prod.js"
    ></script>
    <script defer src="../javascript/components.js"></script>
    <script defer src="../javascript/classes.js"></script>
    <script defer src="../javascript/sheet.js" type="module"></script>
  </head>
  <body>
    <main id="vue_app">
      <nav-bar
        :links="pages"
        logo="../MAINLOGO.png"
        :results="results.data"
        :phone="content?.['Phone Number']"
        :address="content?.['Address']"
        :map="content?.['Map']"
        :level="1"
        :loading="loading"
        @query="searchSite"
        @choose="runSelection"
      ></nav-bar>
      <div class="heading">
        <h1>Radio City Music Hall</h1>
      </div>
      <div class="content-container container-fluid">
        <section class="radio-top row">
          <div class="col-12 col-md-6">
            <h1>SING WITH US @<br>Radio City Music Hall!</h1>
            <p>Next Opportunity: {{content?.["RADIO"] || "TBA"}}</p>
            <p><a href="./contact.html" target="_self">Contact Us</a>&nbsp;for more details</p>
          </div>
          <div class="col-12 col-md-6">
            <img src="../imgs/videoPlaceholder.png" alt="Sing with us at Radio City"/>
          </div>
        </section>
        <section class="radio-gallery">
          <div v-for="(e,i) in content?.['images']" :key="i" class="radio-item">
            <div class="img">
              <img :src="e.IMAGE" :alt="e.NAME"/>
            </div>
            <div class="img" v-if="i % 2 === 0">
              <img :src="e.IMAGE" :alt="e.NAME"/>
            </div>
            <div class="text" :class="{'left': i % 2 === 1, 'right': i % 2 === 0}">
              <h2>{{e.NAME}}</h2>
              <p>{{e.CAPTION}}</p>
            </div>
            <div class="img" v-if="i % 2 === 1">
              <img :src="e.IMAGE" :alt="e.NAME"/>
            </div>
          </div>
          <loading v-if="!content?.['images']"></loading>
        </section>
      </div>
      <page-footer
        :icons="content?.['contacts']"
        :copyright="content?.['copyright']"
      ></page-footer>
    </main>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/fuse.js@7.1.0/dist/fuse.min.js"
    ></script>
    <script defer src="../javascript/bootstrap.bundle.min.js"></script>
    <script defer src="../javascript/script.js"></script>
  </body>
</html>
